@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0px;
    font-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: auto;

    display: flex;
    flex-direction: column;

    font-family: 'Bebas Neue';
}

.overText {
    color: rgb(204, 204, 204);

    margin: 0px;
    margin-bottom: -0.5em;

    font-size: 2em;
    text-align: left;
}

.centerText {
    color: rgb(204, 204, 204);

    margin: 0px;

    font-size: 4em;
    text-align: center;
}

.underText {
    color: rgb(204, 204, 204);

    margin: 0px;
    margin-top: -0.5em;

    font-size: 2em;
    text-align: right;
}

.footer {
    color: rgb(179, 179, 179);

    width: 100%;
    height: 5%;
    margin: 0px;

    display: flex;
    justify-content: space-between;

    font-family: 'Bebas Neue';
}

.footer p {
    margin: 0px;
    margin-left: 2px;
}

.defImage {
    height: auto;
    width: auto;
}